<h1 class="text-light fw-bold mt-5" style="--bs-text-opacity: .5;">New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <button type="submit" class="btn btn-light">
    Add
  </button>
<% end %>